.matchFinalsInput {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
  background: var(--finals-card-bg, #f6f5f5);
  border-radius: 8px;
  padding: 6px 8px;

  .countryRow {
    display: flex;
    position: relative;

    .countryInput {
      padding: 5px 2px;
      width: 100%;
      height: 34px;
      display: flex;
      align-items: center;
      border-radius: 4px;

      .countryFlag img {
        width: 28px;
        height: 20px;
      }

      label {
        margin-left: 6px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &.MATCH {
        background: #309e3a;
        // border-color: #309e3a;
      }

      &.WRONG {
        background: #f9aa51;
        // border-color: #f9aa51;
      }
    }

    .penaltisDivider {
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
        position: relative;
        border-left: 1px solid #233042cc;
        margin-top: 7px;
        // height: 80%;
        height: 20px;
        z-index: 1;
        left: -0.5px;
      }
    }

    input {
      margin-left: 6px;
      width: 30px;
      height: 30px;
      border: 1px solid #a7a8a9;
      background: transparent;
      outline: none;
      text-align: center;
      color: #233042;
      text-align: center;
      font-size: 17px;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      &[type="number"] {
        -moz-appearance: textfield;
      }

      &:disabled {
        opacity: 0.8;
      }

      &:has(+ .penaltisDivider + .penaltisLeft),
      &:has(+ .penaltisDivider + .penaltisRight) {
        text-align: left;
      }

      &.goalsLeft {
        padding: 6px;
      }
      &.goalsRight {
        padding: 6px;
      }

      &.penaltisLeft {
        font-size: 12px;
        position: absolute;
        right: 0;
        height: 16px;
        width: 16px;
        bottom: 0;
        text-align: center;
      }

      &.penaltisRight {
        font-size: 12px;
        position: absolute;
        right: 0;
        height: 16px;
        width: 16px;
        bottom: 0;
        text-align: center;
      }

      &.penaltisRight,
      &.penaltisLeft {
        &.GOALS_MATCH {
          background: #309e3a;
          // border-color: #309e3a;
        }

        &.WINNER_MATCH {
          background: #0093dd;
          // border-color: #0093dd;
        }

        &.WRONG {
          background: #f9aa51;
          // border-color: #f9aa51;
        }
      }

      &.goalsLeft,
      &.goalsRight {
        &.GOALS_MATCH {
          background: #309e3a;
          // border-color: #309e3a;
        }

        &.WINNER_MATCH {
          background: #0093dd;
          // border-color: #0093dd;
        }

        &.WRONG {
          background: #f9aa51;
          // border-color: #f9aa51;
        }
      }

      @media screen and (max-width: 1024px) {
        &:has(+ .penaltisDivider + .penaltisLeft),
        &:has(+ .penaltisDivider + .penaltisRight) {
          text-align: center;
          border-right: none;
        }

        &.penaltisLeft {
          position: relative;
          font-size: 14px;
          height: 34px;
          width: 34px;
          margin-left: -1px;
          border-left: none;
        }

        &.penaltisRight {
          position: relative;
          font-size: 14px;
          height: 34px;
          width: 34px;
          margin-left: -1px;
          border-left: none;
        }
      }
    }
  }

  .date {
    font-size: 14px;
    color: #767676;
    display: flex;
    align-items: center;
    span {
      margin-right: 5px;
    }
    :has(> img):first-of-type {
      margin-right: 3px;
    }
    :has(> img):last-of-type {
      margin-left: 3px;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 24px;
  }

  &.highlight {
    input,
    .countryInput {
      border-color: #4db4b2 !important;
      background-color: #4db4b230;
    }
  }
}
