.localeSelect {
  display: flex;
  color: white;
  user-select: none;

  a,
  span {
    color: white;
    padding: 4px;
  }

  a {
    cursor: pointer;

    &.active,
    &:hover {
      background: #00000033;
    }
  }
}
