.groupsContainer {
  display: grid;
  flex-wrap: wrap;
  width: 100%;

  gap: 0px 12px;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content max-content max-content;

  grid-template-areas:
    "matches-header"
    "following"
    "matches"
    "ranking";

  @media screen and (min-width: 1300px) {
    margin-right: 12px;

    grid-template-columns: 70% 1fr;

    grid-template-areas:
      "matches-header following"
      "matches following"
      "matches ranking"
      "matches -";
  }

  &.full {
    width: 100%;
  }

  &.admin {
    width: 100%;

    grid-template-columns: 1fr;
    grid-template-areas:
      "matches-header"
      "matches";
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  align-items: start;
  align-content: baseline;

  @media screen and (min-width: 1024px) {
    & > * {
      flex: calc(33.3% - calc(24px / 3));
      max-width: calc(33.3% - calc(24px / 3));
      min-width: calc(33.3% - calc(24px / 3));
      margin-left: 12px;
      margin-bottom: 12px;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1024px) {
    & > * {
      flex: calc(50% - calc(12px / 2));
      max-width: calc(50% - calc(12px / 2));
      min-width: calc(50% - calc(12px / 2));
      margin-left: 12px;
      margin-bottom: 12px;

      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }
}

.groupsRankingContainer {
  min-width: 30%;
  max-width: 30%;

  @media screen and (max-width: 1300px) {
    min-width: 100%;
    max-width: 100%;
  }

  & > section > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  a {
    max-width: max-content;
    margin: 24px auto;
  }
}

.leniCard {
  & > :nth-child(2) {
    display: flex;
    svg {
      min-height: 312px;
      max-height: 312px;
      margin: auto;
      overflow: visible;
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.groupsResultWarning {
  & > :first-child {
    display: none;
  }

  & > :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    place-content: space-around;
    gap: 10px 24px;

    .indicator {
      display: flex;
      align-items: center;
      gap: 8px;

      div {
        display: flex;
        align-items: center;
        place-content: center;
        min-width: 24px;
        height: 24px;
        padding: 0 6px;
        box-sizing: border-box;
        border-radius: 4px;
        color: white;
        font-weight: bold;
        border: 1px solid #233042;
      }
    }

    .primary {
      background: #309e3a;
    }

    .secondary {
      background: #0093dd;
    }

    .warning {
      background: #f9aa51;
    }
  }
}
