@use 'styles/tokens' as t;

.layout {
  color: t.$color-dark-navy;
  background: t.$color-bg-gradient;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  background: t.$color-brand-blue;
  color: white;
  position: relative;
  isolation: isolate;

  background: t.$color-brand-blue url('/bg-trophy.png') no-repeat center 60% / cover;
  background-attachment: fixed;
}
