.countryFlag {
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
  }

  &.tiny {
    width: 14px;
    height: 14px;
    display: inline-flex;
    img {
      width: 14px;
      height: 14px;
    }
  }

  &.disabled {
    filter: grayscale(1);
    opacity: 0.3;
  }
}
