.register {
  .registerError {
    color: red;
  }
  .registerError + .registerButtons {
    margin-top: 0;
  }

  .registerButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    margin: 3em;
    margin-left: auto;
    margin-right: auto;

    & > div {
      margin: 12px;
      width: 85px;
      padding: 0.6em;

      &:first-child {
        margin-left: auto;
      }
      &:last-child {
        margin-right: auto;
      }
    }
  }

  .registerDivider {
    display: flex;
    place-content: center;
    margin-bottom: 1em;
    margin-top: 0.5em;

    div:nth-child(1) {
      width: 40%;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
      height: 2px;
      margin: auto;
      margin-right: 20px;
    }

    div:nth-child(2) {
      text-align: center;
      color: white;
      font-size: 28px;
      line-height: 1;
    }

    div:nth-child(3) {
      width: 40%;
      border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
      height: 2px;
      margin: auto;
      margin-left: 20px;
    }
  }
}

.leniCamel {
  margin-top: 8em;
}
