@use 'styles/tokens' as t;

.footer {
  width: 100%;
  background: t.$color-footer-gradient;
  padding: 16px 42px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    padding: 16px 16px;
  }

  @media screen and (max-width: 512px) {
    padding: 8px 8px;
  }
}

.dark {
  background: t.$color-dark-navy;
}
