.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  background: #f6f5f5cc;

  .cardTitle {
    padding: 6px 0;
    text-align: center;
    color: white;
    background: #1f2740;
    position: relative;

    font-size: 20px;
    font-weight: bold;

    min-height: 40px;

    display: flex;

    width: 100%;

    align-content: center;
    place-content: center;
    align-items: center;
  }

  .cardFooter {
    display: flex;
    place-content: center;
    padding: 16px;
  }

  &.slim {
    .cardTitle {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .cardContent {
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
}
